<div class="main-content">
    <div class="container-fluid">
        <div class="row">





            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add Proposal</h4>
                        <p class="card-category">Add a funding proposal</p>
                    </div>
                    <div class="card-body">
                        <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="name" type = "text" name = "name" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="title" type = "text" name = "title" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="cost" type = "text" name = "cost" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="cryptoAddress" type = "text" name = "cryptoAddress" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput
                                            placeholder="Describe the areas you are interested in funding." rows="5" name = "description" ngModel></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="ng-hide" multiple type="file" />
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">
                                  <input type="radio" aria-label="Radio button for following text input" name="type" ngModel>Proposal
                                  </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit Proposal</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>