<div class="main-content">
    <div class="container-fluid">
        <div class="row">


            
            <!-- <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
                <input type = "text" name = "emailid" placeholder = "emailid" ngModel>
                <br/>
                <input type = "password" name = "passwd" placeholder = "passwd" ngModel>
                <br/>
                <input type = "submit" value = "submit">
             </form> -->



            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add Proposal</h4>
                        <p class="card-category">Add a funding proposal</p>
                    </div>
                    <div class="card-body">
                        <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Company (disabled)" disabled> -->
                                        <input matInput placeholder="cost" type = "text" name = "cost" placeholder = "cost" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput
                                            placeholder="Describe the areas you are interested in funding." rows="5" name = "description" ngModel></textarea>
                                    </mat-form-field>
                                    <!-- <div class="form-group">

                                    <div class="form-group">
                                        <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Proposal Amount" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="ng-hide" multiple type="file" />
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit Proposal</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>