<div class="main-content">
  <div class="container-fluid">
  <div class="row">
    <mat-form-field class="selector">
      <!--<mat-select (selectionChange)="filterProp(selectFieldProp.value);" #selectFieldProp>-->

      <mat-select (selectionChange)="filterProp($event.value);">
        <mat-option *ngFor="let cardType of cardTypes" [value]="cardType.value">
          {{cardType.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <div class="row">
      <input style="display:none;" type="text" (change)="filter(selectField.value);" #selectField>





      <div class="col-md-4" *ngFor="let prop of data">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/mooi.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{prop.title}}</h6>
            <h6 class="card-category text-gray">{{prop.cost}}</h6>
            <h6 class="card-category text-gray">{{prop.name}}</h6>
            <h4 class="card-title">{{prop.cryptoAddress}}</h4>
            <p class="card-description">{{prop.description}}</p>




            <div class="border-chain">
              <div class="circle">Cond1</div>
              <span class="arrow">&#8594;</span>
            
              <div class="circle">Cond2</div>
              <span class="arrow">&#8594;</span>
            
              <div class="circle">Cond3</div>
            </div>


            <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>